body{
    background: url(../images/background.jpg);
}
.center{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 2%;
}
.greeting{
    border: 2px solid white;
    background-color: rgba(0, 238, 255, 0.445);
    text-align: center;
    align-content: center;
    padding: 20px;
    color: white;
}

hr{
    border: 1px solid white;
}

#player1{
    border: 2px solid white;
    background-color: rgba(127, 255, 212, 0.555);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
}

#info{
    border: 2px solid white;
    background-color: rgba(220, 20, 60, 0.521);
    padding: 83px;
    text-align: center;
    font-size: 20px;
    color: white;
}

#player2{
    border: 2px solid white;
    background-color: rgba(238, 130, 238, 0.445);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.far{
    font-size: 25px;
}

.btn-light{
    font-weight: bold;
}

#chat-window{
    background-color: rgba(210, 180, 140, 0.637);
    border: 2px solid white;
    height: 300px;
    overflow: scroll;
    text-align: left;
    font-size: 15px;
    color: white;
}

#chat-input{
    width: 100%;
    height: 50px;
    color: black;
    font-size: 30px;
}

#submit-input{
    display: block;
    width: 200px;
    height: 35px;
    color: black;
    margin-left:auto;
    margin-right: auto;
}

