body{
    background: url(../images/background.jpg);
}
.center{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 2%;
}
.greeting{
    border: 2px solid white;
    background-color: rgba(0, 238, 255, 0.521);
    text-align: center;
    align-content: center;
    padding: 20px;
    color: white;
}
hr{
    border: 1px solid white;
}
#player1{
    margin-top: 5%;
    border: 2px solid white;
    background-color: rgba(127, 255, 212, 0.555);
    padding: 20px;
    text-align: center;
}

#info{
    margin-top: 15%;
    border: 2px solid white;
    background-color: rgba(220, 20, 60, 0.521);
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
}

#player2{
    margin-top: 5%;
    border: 2px solid white;
    background-color: rgba(238, 130, 238, 0.445);
    padding: 20px;
    text-align: center;
}